<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/styles/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Demo</title>
</head>

<body>

<header class="bg-primary text-white p-3">
    <h1>Zelle CSR</h1>
</header>

<section class="container mt-4">
    <h2>Customer List</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">1</td>
            <td th:text="${customer.firstName}">Sample Title</td>
            <td th:text="${customer.lastName}">Sample Author</td>
            <td th:text="${customer.email}">Sample Author</td>
            <td><a th:href="@{/customers/details/{id}(id=${customer.id})}" class="btn btn-info">View</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}" class="btn btn-secondary">Back to Home</a>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>